<div [attr.class]="'section ' + model.sizeGridView" [ngStyle]="sectionStyle()" [class.control-selected]="model.hovered||model.selected">
    <div *ngFor="let c of model.controls" (mouseover)="c.hovered=true"
    (mouseout)="c.hovered=false" (click)="selectControl(c)">
        <div section *ngIf="c.type == 'section'" [model]="c"></div>
        <div button *ngIf="c.type == 'button'" [model]="c"></div>
        <div image *ngIf="c.type == 'image'" [model]="c"></div>
        <div text *ngIf="c.type == 'text'" [model]="c"></div>
    </div>
</div>

<!--cdkDragBoundary=".page-container" cdkDrag
-->